@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('../images/pexels-hasan-albari-1229861.jpg');
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
}

.glass {
  background: linear-gradient(45deg, rgba(42, 25, 46, 0.25), rgba(34, 102, 148, 0.25));
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 2rem;
}

header {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.form-holder {
  min-height: 10vh;
  min-width: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 4rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  color: #7c1ea1e5;
  top: 0;
  right: 0;
  padding: 1.2rem;
  pointer-events: none;
}

.select:hover::after {
  color: white;
  background: #7c1ea1e5;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 15rem;
  height: 4rem;
  color: #7c1ea1e5;
  padding: 1rem;
  cursor: pointer;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

form input,
form button {
  padding: 1rem;
  height: 4rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #7c1ea1e5;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form button:hover {
  background: #7c1ea1e5;
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 60vh;
  min-height: 50vh;
}

.todo-list {
  list-style: none;
  font-size: 2rem;
  min-width: 70%;
}

.todo-list .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0.5rem;
  width: 100%;
  background: white;
  color: #2b2b2b;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.todo-list .todo .todo-item {
  padding: 0rem 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.todo-list .todo .check-btn,
.todo-list .todo .del-btn {
  padding: 1.5rem;
  border: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.todo-list .todo .check-btn .fas,
.todo-list .todo .del-btn .fas {
  pointer-events: none;
}

.todo-list .todo .check-btn {
  color: #309212;
  background: white;
}

.todo-list .todo .check-btn:hover {
  background: #309212;
  color: white;
}

.todo-list .todo .del-btn {
  color: #a81111;
  background: white;
}

.todo-list .todo .del-btn:hover {
  background: #a81111;
  color: white;
}

.todo-list .completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: #a7a7a7;
}

.todo-list .falling {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */
